<article class="post my-3 mx-4">
    <div class="title-bar">
        <h4>{{title}}</h4>
        <h6 class="side-title">Posted by {{user.username}} on {{created_at}}</h6>
    </div>
    <div class="contents" >
        <p>{{contents}}</p>
    </div>
</article>

