<section>
    <h2 class="text-center new-post-header">Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title"  class="col-9 mx-3 my-3" name="post-title" />
        </div>
        <div>
            <label for="post-content">Content</label>
            <input type="text" id="post-content"  class="col-9 mx-3 my-3" name="post-content" />
        </div>
        <button type="submit" class="btn create-post-btn">Create</button>
    </form>
</section>

<script src="/javascript/create-post.js"></script>
